{% extends 'templates/app.twig' %}

{% block content %}
  <div class="o-wrapper--tiny upload-image">
    <form action="{{ path_for('upload') }}" method="post" enctype="multipart/form-data" class="upload-image__form">
        <label for="uploadimage" class="upload-image__label">Envoyer une image</label>
        <input type="file" name="uploadimage" value="" class="upload-image__input">
      {{ csrf.field | raw }}
      <input type="submit" value="Envoyer l'image" class="btn upload-image__submit">
    </form>
  </div>
  {% if flash.getMessage('imagename') %}
    <div class="h2-like">
      <a href="{{ request_scheme }}://{{ storage_folder_link }}/{{ flash.getMessage('imagename') | first }}">
        {{ storage_folder_link }}/{{ flash.getMessage('imagename') | first }}
        <div>
          <img src="{{ request_scheme }}://{{ storage_folder_link }}/{{ flash.getMessage('imagename') | first }}">
        </div>
      </a>
    </div>
  {% endif %}
  {% if flash.getMessage('uploaderrors') %}
    <div class="h5-like">
      <p>Image incorrecte ¯\_ツ_/¯</p>
    </div>
  {% endif %}
{% endblock %}
